{% extends "base.html.twig" %}

{% block body %}
  <div class="jumbotron">
    <div class="row">
      <div class="col-1">
      </div>

      <div class="col-10">
        <h1 class="display-4">Oooopppsssss</h1>
        <p class="lead">Erreur d'authentification</p>
        <hr class="my-4"/>
        <p>Il semble que vous tentiez d'accéder à une page qui requiert l'authentification de l'utilisateur.</p>
        <a class="btn btn-primary btn-lg" href="/login">Cliquez ici pour vous connecter !</a>
      </div>

      <div class="col-1">
      </div>
    </div>
  </div>
{% endblock %}
