{% extends "base.html.twig" %}

{% block body %}
  <div class="jumbotron">
    <div class="row">
      <div class="col-1">
      </div>

      <div class="col-10">
        <h1 class="display-4">Hypocom's</h1>
        <p class="lead">Un site qui regroupe toutes les informations essentielles à notre hypoprom's</p>
        <hr class="my-4"/>
        <p>Le tout conçu et développé par les étudiants eux-mêmes !</p>
        <a class="btn btn-primary btn-lg" href="/login">Me connecter maintenant !</a>
      </div>

      <div class="col-1">
      </div>
    </div>
  </div>
{% endblock %}
